{% extends 'layout/fill' %}

{% block content %}

    <div class="room-rowframe">
        <div class="room-rowframe-inner">
            <h1>{{ room.name }}</h1>
            <table class="room-rows"></table>
        </div>
    </div>
    <div class="room-actionframe">
        <table>
            <tr>
                <td class="room-dice"></td>
                <td class="room-message"><form></form></td>
            </tr>
        </table>
    </div>
    <script>JF.site.chat.init({{ room|json_encode()|raw }});</script>

{% endblock %}
