{% extends 'layout/fill' %}

{% block content %}

    <div class="room-rowframe">
        <div class="room-rowframe-inner">
            <h1>{{ room.name }}</h1>
            <table class="room-rows"></table>
        </div>
    </div>
    <table class="room-actionframe">
        <tr>
            <td class="room-dice"></td>
            <td class="room-message"><form></form></td>
        </tr>
    </table>
    <script>JF.site.chat.init({{ room|json_encode()|raw }});</script>

{% endblock %}
