{% extends 'layout/layout' %}

{% block content %}
    <h1>Click "Rooms" above.</h1>
    <h2>Click "Rooms" above.</h2>
    <h3>Click "Rooms" above.</h3>
    <h4>Click "Rooms" above.</h4>
    <h5>Click "Rooms" above.</h5>
    <h6>Click "Rooms" above.</h6>
{% endblock %}
